#Game_over{
    text-align: center;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

#Game_over h2,
#Game_over p{
    margin-bottom: 1rem;
}

#Game_over p{
    color: #8435de;
}

#Game_over img{
    margin: 2rem;
    height: 200px;
}
